@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  /* height: calc(100vh - 30px); */
  /* background-color: red; */
  width: 100%;
}

.menu {
  background-color: rgb(77, 77, 77);
  color: white;
}

.content-wrapper {
  /* height: calc(100vh - 84px); */
  width: 100%;
  padding: 40px;
}

.product-details span {
  font-weight: bold;
}

.font-title {
  font-size: 24px;
}

.product-lists {
  max-height: 500px;
  overflow: auto;
  width: 100%;
}
