@tailwind base;
@tailwind components;
@tailwind utilities;


.app{
    height: calc(100vh - 30px);
    /* background-color: red; */
}

.menu{
    background-color: rgb(77, 77, 77);
    color:white;
}

.content-wrapper  {
    height: calc(100vh - 84px);
}

.product-details span{
    font-weight: bold;
}

.font-title{
    font-size: 24px;
}